@model List<UserInfo>

<div class="container-fluid">

    <div class="col-md-8">
        <h1>PLACE HOLDER</h1>
    </div>

    <div class="col-md-4">
        <a href="http://cw-itkpi.azurewebsites.net/Registration/Registration">Registration</a>
        <!--<form asp-controller="Home" asp-action="RegButton" method="post" class="form-horizontal" role="form">
            <div class="col-md-12">
                <input type="submit" value="Registration" name="Registration" class="btn btn-default" placeholder="Registration" />
            </div>
        </form>-->
    </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>This week points</th>
                <th>Previous rating points</th>
                <th>Total points</th>
                <th>Clan</th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                string color;
                if (i <= 4)
                {
                    color = "success";
                }
                else if (i > 4 && i < 10)
                {
                    color = "info";
                }
                else if (i >= 10 && i < 20)
                {
                    color = "warning";
                }
                else
                {
                    color = "";
                }
                <tr class="@color">
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].thisWeekHonor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].lastWeekHonor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].honor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].clan)
                    </td>

                </tr>
            }
        </table>
    </div>
</div>